.card {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
    border-radius: 30px;
    background-color: transparent;
    
}

.card:hover .card__inner {
    transform: scale(1.01);
}
.card:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card__inner {
    width: 100%;
    position: relative;
    cursor: pointer;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.card__inner:after {
    transition: all 0.3s ease-in-out;
}

.card__expander {
    transition: all 0.2s ease-in-out;
    /* background-color: transparent; */
    background-color: white;
    color: black;
    width: 100%;
    max-width: 1500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5em;
    z-index: 9997;
    /* box-shadow: 1px 4px 11px -1px rgba(0,0,0,0.27); */
}

.card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
}
.card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 10px;
    opacity: 0;
}
.card.is-expanded .card__inner {
    border-radius: 17px;
    color: black;
    z-index: 9999;
}

.card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 300px;
    overflow: visible;
    margin-top: 10px;
    z-index: 9990;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 1;
}
.card.is-expanded:hover .card__inner {
    transform: scale(1);
}
.card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
    transform: scale(1);
}
.card__details{
    display: flex;
    flex-flow: column;
    text-align: left;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius:30px;
    
}
.card__details .card__name{
    margin-top: -75px;
    color: black;
    height: 4.7rem;
    border-radius:0 0 30px 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1%, rgba(255, 255, 255, 1) 100%, rgba(247, 247, 247, 0.165) 100%);
}
.card__details .card__name h4,p {
    margin-left: 20px;
    font-weight: bold;
}
.card__name h4 {
    font-size: 22px;
}
.card__name p {
    margin-top: 10px ;
    font-size: 12px;
    color: rgb(121, 121, 121);
}
.card__image {
    object-fit: cover;
    border-radius: 30px;
    border: 0 !important;
}
@media screen and (max-width: 991px) {
    .card {
        width: calc((100% / 2) - 30px);
   }
}
@media screen and (max-width: 767px) {
    .card {
        width: 100%;
   }
}
.card__expander {
    list-style: circle;
    font-size: 14px;
}